@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  @apply bg-primary;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  
}

.roma__content-vcard {
  background-color: #151515;
}
.roma__content-i {
  background-color: #eb358c;
}
.roma__content-w {
  background-color: #01e675;
}
.roma__content-t {
  background-color: #0088cc;
}
.roma__content-p {
  background-color: #064788;
}
.roma__content-u {
  background-color: #1e70c1;
}
.roma__content-tt {
  background-color: #151515;
}
.roma__content-f {
  background-color: #3b5998;
}
.roma__content-g {
  background-color: #ffa900;
}

.roma__content-a:hover {
  text-decoration: none;
}
.roma__content {
  /* color  */
  max-width: 1110px;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 32px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 30px;
  border-radius: 5px;
}
.roma__content-a {
  text-decoration: none;
}
.roma__content p {
  font-size: 22px;
  margin: 0;
}
.roma__content i {
  font-size: 35px;
}
#roma__content-vcard {
  width: 70%;
  max-width: 777px;
}
.roma__content-vcard img {
  width: 40px;
}
@media (max-width: 420px) {
  .roma__content {
    padding: 14px 30px;
    column-gap: 20px;
  }
  .roma__content p {
    font-size: 16px;
    margin: 0;
  }
  .roma__content i {
    font-size: 26px;
  }
}
.landing-block-node-member-photo {
  width: 180px !important;
  border: solid 2px #e8e8e8;
}
.img-fluid {
  max-width: 90% !important;
  height: auto;
}



.App {
  display: flex;
  padding: 20px;
  gap: 50px;
  justify-content: space-between;
  .left {
    width: calc(50% - 50px);
    .inputs {
      padding: 5px 10px;
      // border: none;
      margin: 10px 0;
    }
    .roma__content {
      .adder {
        border-radius: 5px;
        width: 40px;
        height: 40px;
        background-color: #001e3c;
        color: white;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 auto;
        border: none;
      }
    }
  }

  .right__content {
    margin-right: 2%;
    width: calc(50% - 50px);
  }
  .right__block {
    width: 100%;
    border: solid 2px rgb(208, 207, 207);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.277);
    height: calc(50vh - 50px);
    overflow-y: scroll;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px #0a1929;
    color: white;
    position: relative;
    @apply bg-blockFon;
    }


}

.right__block::-webkit-scrollbar {
  background-color: #132f4c;
  width: 10px;
}

/* Track */
.right__block::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.right__block::-webkit-scrollbar-thumb {
  background: #064788; 
  border-radius: 10px;
}
